.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    max-width: 330px;
    padding: 45px 12px;
    border-radius: 4px;
}

.login input{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    padding: 4px;
    transition: .3s;
}
.login input:active , input:focus{
    outline: none;
}
.login input:focus{
    border-bottom: 1px solid #000;
}